@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Poppins', sans-serif;
    }
  }

.triangle {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  }
  
.triangle-gameview {
-webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}